html {
    font-family: 'Rubik', sans-serif;
}

.button{
    font-family: 'Rubik', sans-serif;
}

.parent{
    width: 100%;
    height: 91.5vh;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet-parent{
    display: flex;
    margin: 0 10%;
    height: auto;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.wallet-child{
    width: 45%;
    height: auto;
    margin: 1%;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 10px;
    transition: transform .5s;
}

.wallet-child:hover{
    border: 1px solid #bae8e8;
    transform: scale(1.02);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .wallet-child{
        width: 80%;
    }
}

@media screen and (max-width: 420px){
    .wallet-parent{
        margin: 5%;
        width: 90%;
    }
    .wallet-child{
        width: inherit;
    }
}